

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity
@model Nomec1.Models.UserConfig


@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<!--
<h2>@Html.DisplayFor(model => model.Id)</h2>
<h2>@Html.DisplayFor(model => model.UserId)</h2>
<h2>@Html.DisplayFor(model => model.UserCategoryId)</h2>
-->

@{int? ucid = Model.UserCategoryId;}


<div>
    <hr />
    <dl class="row">
        @if (ucid == 0)
        {
            <dt class="col-sm-2">
                準備中です
            </dt>
        }

        <!--1-->
        @if (ucid == 1 || ucid == 2 || ucid == 9)
        {
            <dt class="col-sm-2">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserDivs" asp-action="Index">運送メニュー</a>
            </dt>
        }

        <!--2-->
        @if (ucid == 2 || ucid == 9)
        {
            <dt class="col-sm-2">
                倉庫メニュー
            </dt>
        }

        <!--3-->
        @if (ucid == 9)
        {
            <dt class="col-sm-2">
                予備
            </dt>
        }

        <!--4-->
        @if (ucid == 1 || ucid == 2 || ucid == 9)
        {
            <dt class="col-sm-2">
                設定
            </dt>
        }

        <!--5-->
        @if (ucid == 9)
        {
            <dt class="col-sm-2">
                予備
            </dt>
        }

        <!--6-->
        @if (ucid == 9)
        {
            <dt class="col-sm-2">
                予備
            </dt>
        }

        <!--7-->
        @if (ucid == 7 || ucid == 8 || ucid == 9)
        {
            <dt class="col-sm-2">
                県外発送
            </dt>
            <dt class="col-sm-2">
                県外引取
            </dt>
            <dt class="col-sm-2">
                県内近県
            </dt>
            <dt class="col-sm-2">
                一般
            </dt>
            <dt class="col-sm-2">
                入出庫
            </dt>
            <dt class="col-sm-2">
                請求処理
            </dt>
        }

        <!--8-->
        @if (ucid == 8 || ucid == 9)
        {
            <dt class="col-sm-2">
                勤怠管理
            </dt>
            <dt class="col-sm-2">
                庸車売上管理
            </dt>
            <dt class="col-sm-2">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserConfigs" asp-action="Index">システム設定</a>
            </dt>
        }

        <!--9-->
        @if (ucid == 9)
        {
            <dt class="col-sm-2">
                admin
            </dt>
        }


    </dl>

</div>



